@inherits RazorEngineCore.RazorEngineTemplateBase<WebApplication1.Templates.IndexModel>
@{
    <html>
    <body>
        This is a header, @Model.Name
        <div>
            Header stuff
        </div>

    </body>
</html>
}
